*.fs
*.sqlite
*.tmp

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test
.pytest_cache
cashbackapi/.pytest_cache/
.coverage

# Translations
*.mo
*.pot

# Django stuff:
*.log

# .env files
.env

# IDEs & Text Editors
.idea

# OS
.DS_Store

# DB
*.sqlite3